.wrapper{
  display: grid;
  grid-template-areas:
  'header' 
  'main'
  'footer';

}

main{
  padding: 33px 35px 30px;
  min-height: calc(100vh - 80px);
  font-size: 1.6rem;
  width: 100%;
  background-color: #f9fbfd;;
}

@media (min-width: 768px){
  main{
    margin-left: 65px;
    width: calc(100% - 65px);
  }
}
@media (min-width: 1170px){
  main{
    margin-left: 260px;
    width: calc(100% - 260px);
  }
}