
@media (min-width: 768px){
  .page.zlecenia .btn {
    width: 33.33%;
  }
  .page.zlecenia .btn:nth-child(3n + 1) {
    border-radius: 2px 0 0 2px;
  }
  .page.zlecenia .btn:nth-child(3n + 2) {
    border-radius: 0;
  }
  .page.zlecenia .btn:nth-child(3n + 3) {
    border-radius: 0 2px 2px 0;
  }
}
@media (max-width: 1170px){
  table#allOrders{
    display: flex;
  }
  table#allOrders thead{
    display: none;
  }
  table#allOrders tbody{
    width: 100%;
  }
  table#allOrders tr{
    width: 100%;
    display: block;
    margin-bottom: 26px;
  }
  table#allOrders td[label="ID"]{
    display: none;
  }
  table#allOrders td{
    display: flex;
    box-sizing: border-box;
    padding: 0;
    align-items: center;
    font-weight: 500;
    background-color: var(--info);
    text-align: left;
  }
  table#allOrders td span{
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 16px 10px;
    word-break: break-all;
    text-align: center;
  }
  table#allOrders td::before{
    content: attr(label)":";
    margin-right: 5px;
    width: 50%;
    background-color: var(--info);
    color: #ffffff;
    font-weight: 500;
    padding-left: 10px;
  }
}