.main__header {
  grid-area: header;
  height: 80px;
}
.main__header .logo{
  justify-self: center;
}
.logo img{
  height: 50px;
  width: auto;
}
.main__menu{
  background-color: #FFFFFF;  
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  box-shadow:rgba(169, 184, 200, 0.8) 0px -4px 9px 0px;
  padding: 0 20px;
  z-index: 100;
}
.burger:hover ~ .main__navigation{
  transform: translateX(100%);
}
.burger:hover .burger__line:nth-child(1){
  transform: rotate(45deg) translate(5px, 6px);
}
.burger:hover .burger__line:nth-child(2){
  opacity: 0;
}
.burger:hover .burger__line:nth-child(3){
  transform: rotate(-45deg) translate(5px, -6px);
}
.burger__line{
  display: block;
  content: "";
  opacity: 1;
  border: 1px solid var(--primary);
  width: 28px;
  margin-top: 6px;
  transition: .35s transform, .35s opacity;
}
.burger__line:first-child{
  margin-top: 0;
}
.menu-more{
  padding: 16px;
}
.menu-more:hover ~ .support__menu, .support__menu:hover{
  height: 80px;
  visibility: visible;
}
.main__navigation{
  position: fixed;
  top: 80px;
  left: -260px;
  width: 260px;
  padding-top: 10px;
  transition: transform .35s ease-in-out;
  height: calc(100vh - 80px);
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  overflow: auto;
  background-color: #FFFFFF;
  z-index: 50;
}
.main__navigation a{
  list-style-type: none;
  color: #818181;
  opacity: .7;
}
.main__navigation a:hover{
  opacity: 1;
}
.main__navigation i{
  width: 20px;
  height: 100%;
  text-align: center;
}
.main__navigation ul li:first-child{
  margin-top: 20px;
}
.support__menu{
  z-index: 99;
  position: fixed;
  top: 80px;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #edf2f9;
  height: 0;
  transition: .35s height, .35s visibility, .35s top;
  visibility: hidden;
  overflow: hidden;
}
.support__menu-options{
  z-index: 98;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  height: 0;
  width: 100%;
  padding: 0 26px;
}
.support__menu-options li:hover{
  cursor: pointer;
}
.support__menu-options li.active .support__menu-submenu{
  display: flex;
}
.support__menu-options > li{
  padding: 15px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.support__menu-options > li:first-child{
  padding: 15px 30px 15px 10px;
}
.support__menu-options > li:last-child{
  padding: 15px 10px 15px 10px;
}
.support__menu-options li i{
  font-size: 1.8rem;
}
.support__menu-options > li:last-child > i{
  font-size: 3rem;
}
.support__menu-options > li:last-child{
  margin-left: auto;
}
.support__menu-submenu{
  position: fixed;
  top: 160px;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: rgba(169, 184, 200, 0.8) 0px 3px 12px -6px;
}
.support__menu-submenu > li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support__menu-submenu > li:hover{
  background-color: #e8eaec;
  cursor: pointer;
}
.support__menu-submenu > li > a{
  display: flex;
  margin: 0;
  width: 100%;
  color: #6c757d;
  padding: 10px 16px;
}
.support__menu-submenu > li:hover > a{
  color: #16181b;
}
.support__menu-submenu li *{
  font-size: 1.6rem;
}
.support__menu-submenu li i{
  width: 23px;
}
.support__menu-submenu > li.nav__divider{
  margin: 10px 0;
}
#menu__account .userImage{
  width: 36px;
  height: 36px;
  font-size: 34px;
}
#notifications__number{
  position: absolute;
  top: -7px;
  right: 19px;
  padding: 1px 0 0;
  background-color: #5f76e8;
  height: 18px;
  width: 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link{
  font-size: 1.6rem;
  padding: 12px 30px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  line-height: 27px;
  opacity: .7;
  margin-right: 17px;
}
.nav__link > i {
  font-size: 2rem ;
  margin-right: 10px;
}
.nav__link.active  {
  border-radius: 0 60px 60px 0;
  color: #fff!important;
  background: linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
  box-shadow: 0 7px 12px 0 rgba(95,118,232,.21);
  opacity: 1;
}
.support__menu-submenu .nav__link.active{
  color: #fff;
  text-decoration: none;
  background: #5f76e8;
  border-radius: 0;
  box-shadow: none;
}
.nav__divider{
  height: 1px;
  background: #818181;
  display: block;
  margin: 10px 0 20px 30px;
  opacity: .1;
}
.nav__group{
  font-size: 12px;
  padding: 0 0 0 33px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 30px;
  opacity: 1;
  color: var(--dark);
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
#menu__account .greeting{
  display: none;
}
@media (min-width: 768px){
  .main__menu .menu-more, .main__menu .burger{
    display: none;
  }
  .support__menu{
    top: 0 !important;
    left: 65px;
    width: calc(100% - 65px);
    background-color: #f9fbfd;
    border-bottom: 1px solid #edf2f9;
    height: 80px;
    visibility: visible;
    overflow: visible;
  }
  .main__menu {
    width: 65px;
    padding: 0 8px;
    justify-content: center;
    box-shadow:rgba(169, 184, 200, 0.15) 1px -2px 1px 0px;
  }
  .main__navigation{
    left: 0;
    width: 65px;
    z-index: 50;
    transform: none !important;
    box-shadow: rgba(169, 184, 200, 0.15) 1px 5px 8px -2px;
  }
  .support__menu-options{
    height: 80px;
  }
  .support__menu-submenu{
    position: absolute;
    min-width: 200px;
    width: auto;
    max-width: 340px;
    top: 79px;
    left: -5px;
    box-shadow:rgba(0,0,0,.1) 1px 1px 15px ;
  }
  #menu__account:hover .greeting *,
  #menu__account.active .greeting *{
    color: var(--dark);
  }
  #menu__account .userName{
    color: var(--dark);
    margin: 0 5px;
  }
  #menu__account .userImage{
    margin-right: 10px;
  }
  #menu__account .support__menu-submenu{
    position: fixed;
    top: 79px;
    right: 20px;
    left: unset; 
  }
  #notifications__number{
    top: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1170px) {
  .main__navigation .nav__group, .main__navigation span.nav__link__name{
    display: none;
  }
  .main__navigation .nav__divider{
    width: 70%;
    margin: 10px auto;
  }
  .main__navigation i{
    width: auto;
  }
  .logo img {
    height: auto;
    width: auto;
  }
  .main__navigation .nav__link {
    padding: 12px 0;
    margin-right: 2px;
  }
  .main__navigation .nav__link > i{
    margin: 0 auto;
  }
}
@media (min-width: 1170px) {
  #menu__account .greeting{
    display: block;
  }
  .main__navigation{
    width: 260px;
  }
  .main__menu {
    width: 260px;
  }
  .support__menu{
    left: 260px;
    width: calc(100% - 260px);
  }
}
