.main__header {
  grid-area: header;
  height: 80px;
}
.main__header .logo{
  justify-self: center;
}
.logo img{
  height: 50px;
  width: auto;
}
.main__menu{
  background-color: #FFFFFF;  
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  box-shadow:rgba(169, 184, 200, 0.8) 0px -4px 9px 0px;
  padding: 0 20px;
  z-index: 100;
  transition: box-shadow .5s;
}
.main__menu.hide-shadow{
  box-shadow: none;
}
.burger__line{
  display: block;
  content: "";
  border: 1px solid var(--primary);
  width: 28px;
  margin-top: 6px;
}
.burger__line:first-child{
  margin-top: 0;
}
.main__navigation{
  position: fixed;
  top: 80px;
  left: -260px;
  width: 260px;
  transition: transform .35s ease-in-out;
  height: calc(100vh - 80px);
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  overflow: auto;
  background-color: #FFFFFF;
  z-index: 50;
}
.main__navigation.active{
  transform: translateX(100%);
}
.main__navigation a{
  list-style-type: none;
}
.main__navigation ul li:first-child{
  margin-top: 20px;
}

.support__menu{
  z-index: 99;
  position: fixed;
  top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #edf2f9;
  height: auto;
  transition: .5s;
  visibility: hidden;
}
.support__menu.show{
  top: 79px;
}
.support__menu.show + .main__menu{
  box-shadow: none;
}
.support__menu-options{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  height: 0;
  width: 100%;
  padding: 0 26px;
  transition: .5s;
  visibility: inherit;
}
.support__menu-options li:hover .support__menu-submenu{
  display: flex;
}
.support__menu.show .support__menu-options{
  height: 80px;
}
.support__menu-options > li{
  padding: 15px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.support__menu-options li i{
  font-size: 1.8rem;
}
.support__menu-options li:last-child i{
  font-size: 3rem;
}
.support__menu-options li:last-child{
  margin-left: auto;
}
.support__menu-submenu{
  position: fixed;
  top: 160px;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: rgba(169, 184, 200, 0.8) 0px 3px 12px -6px
}
.support__menu-submenu > li > a{
  color: var(--dark);
}
.support__menu-submenu > li.nav__divider{
  margin: 0;
}
#notifications__number{
  position: absolute;
  top: 18px;
  right: 5px;
  padding: 1px 0 0;
  background-color: #5f76e8;
  height: 18px;
  width: 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link{
  font-size: 1.6rem;
  padding: 12px 30px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  line-height: 27px;
  opacity: .7;
  margin-right: 17px;
}
.nav__link > i {
  font-size: 2.5rem ;
  margin-right: 10px;
}
.nav__link.active  {
  border-radius: 0 60px 60px 0;
  color: #fff!important;
  background: linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
  box-shadow: 0 7px 12px 0 rgba(95,118,232,.21);
  opacity: 1;
}
.nav__divider{
  height: 1px;
  background: #818181;
  display: block;
  margin: 10px 0 20px 30px;
  opacity: .1;
}
.nav__group{
  font-size: 14px;
  padding: 0 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 30px;
  opacity: 1;
  color: var(--dark);
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.nav__icon i{
  width: 19px;
  height: 19px;
}
.menu-more{
  padding: 16px;
}
@media (min-width: 768px){
  .main__menu .menu-more, .main__menu .navigation__toggler{
    display: none;
  }
  .support__menu-submenu{
    position: absolute;
    width: 340px;
    top: 80px;
    left: -5px;
    box-shadow:rgba(0,0,0,.1) 1px 1px 15px ;
  }
  .main__menu {
    width: 65px;
    padding: 0 8px;
    justify-content: center;
    box-shadow:rgba(169, 184, 200, 0.15) 0px -7px 9px 0px;
  }
  .main__navigation{
    left: 0;
    width: 65px;
    z-index: 50;
    transform: none !important;
  }
  .support__menu{
    top: 0 !important;
    left: 65px;
    width: calc(100% - 65px);
    background-color: #f9fbfd;
    border-bottom: 1px solid #edf2f9;
    height: 80px;
    visibility: visible;
  }
  .support__extended_menu{
    top: 80px !important;
    left: 65px;
    width: calc(100% - 65px);
    box-shadow: none;
    border-bottom: 1px solid #edf2f9;
  }
  .support__menu-options{
    height: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1170px) {
  .main__navigation .nav__group, .main__navigation .nav__divider, .main__navigation span.nav__link__name{
    display: none;
  }
  .logo img {
    height: auto;
    width: auto;
  }
  .main__navigation .nav__link {
    padding: 12px 0;
    margin-right: 2px;
  }
  .main__navigation .nav__link > i{
    margin: 0 auto;
  }
}
@media (min-width: 1170px) {
  .main__navigation{
    width: 260px;
  }
  .main__menu {
    width: 260px;
  }
  .support__menu{
    left: 260px;
    width: calc(100% - 260px);
  }
  .support__extended_menu{
    left: 260px;
    width: calc(100% - 260px);
  }
}
