.message__page{
  display: flex;
  flex-direction: column;
  width: calc(100% + 50px);
  padding: 10px 0 0;
  margin-left: -25px;
}
.contact__box .message__box .message__image,
.chat__box .message__box .message__image{
  background-color: initial;
  border-color: initial;
  border: none;
}
.contact__box {
  border-top: 1px solid #edf2f9;
  height: auto;
  max-height: 860px;
}
.contact__box .message__item:nth-child(1n+2){
  border-top: 1px solid #edf2f9;
}
.contact__box .message__title{
  font-size: 14px;
  color: var(--primary);
}
.chat__box {
  display: flex;
  flex-direction: column;
  max-height: 860px;
  overflow: hidden;
}
.chat__box .message__box{
  max-height: 767px;
  overflow-y: scroll;
}
.chat__box .message__item{
  border-top: none;
}
.chat__box .message__title{
  margin-bottom: 8px;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.4rem;
}
.chat__box .message__description.firstItem{
  padding: 8px;
  background-color: #e4fbf8;
  font-size: 1.6rem;
  color: var(--primary);
}
.chat__box .message__description.secondItem{
  margin-top: 8px;
  font-size: 1rem;
  line-height: 15px;
  color: var(--primary);
}
.chat__box .message__item:not(.sender-me) .message__item__details{
  padding-left: 8px;
}
.chat__box .message__item.sender-me{
  justify-content: flex-end;
}
.chat__box .message__item.sender-me .message__description.secondItem{
  text-align: right;
}
.chat__box .message__item.sender-me .message__description.firstItem{
  background-color: #eef5ff;
  padding: 8px;
  color: var(--primary);
}
.chat__box .message__item.sender-me .message__image, 
.chat__box .message__item.sender-me .message__title{
 display: none;
}
.chat__box .message__box .message__item:hover {
  background-color: initial !important;
  cursor: initial;
}
.createNewMessage{
  border-top: 1px solid #edf2f9;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.createNewMessage #newMessage{
  color: #4F5467;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  width: 80%;
  margin: 0;
}
.createNewMessage #sendMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #01caf1;
  color: #ffffff;
  font-size: 2rem;
}
.createNewMessage #sendMessage .fa-paper-plane{
  margin-right: 2px;
}
@media (min-width: 768px){
  .message__page{
    flex-direction: row;
  }
  .message__page .contact__box{
    min-width: 210px;
    max-width: 250px;
    border-right: 1px solid #edf2f9;
  }
  .message__page .chat__box{
    width: 100%;
    border-top: 1px solid #edf2f9;
  }
}


