.input--invalid{
  border: 1px solid var(--danger);
  margin-bottom: 8px;
}
.input--valid{
  border: 1px solid var(--success);
}
input, select{
  padding: 6px 12px;
  color: #4F5467;
  border: 1px solid #E9ECEF;
  border-radius: 2px;
  font-size: 1.6rem;
  margin-bottom: 16px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}
input[type=submit]{
  font-weight: 400;
  line-height: 24px;
}
input:focus{
  color:#4F5467;
  background-color:#FFFFFF;
  border-color:rgba(0,0,0,.25);
}
input::placeholder{
  color: #CDC8D5 ;
}

@media (min-width: 768px){
  main input, select{
    width: auto;
    display: block;
  }
  main input[value="Anuluj"], 
  main input[type="submit"]{
    display: flex;
    margin-left: auto;
    justify-content: center;
  }
}