.notifications__list{
  display: flex;
  flex-direction: column-reverse;
}
#notifications__submmenu .message__item:nth-last-child(n + 5){
  display: none;
}
.notifications__list .message__item[label="NewOrder"] .message__image {
  background-color: var(--info);
  border-color: var(--info);
}
.notifications__list .message__item[label="NewOrder"] .message__image:hover {
  background-color: #3e59e3;
  border-color: #3250e2;
}
.notifications__list .message__item.unread{
  background-color: #f9fbfd;
}
.readMore{
  border-top: 1px solid #edf2f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  color: #6c757d;
  font-weight: 500;
}
.readMore:hover{
  color: #05080c;
  cursor: pointer;
}
@media (min-width: 768px) {
  #notifications__submmenu {
    width: 320px
  }
} 