.notifications .message__item{
  border-top: 1px solid #edf2f9;
  padding: 10 15px;
}
.notifications .message__item:last-child{
  border-top: none;
}
#notifications{
  display: flex;
  flex-direction: column-reverse;
}
#notifications .message__item .message__sender{
  color: #212529;
  font-size: 14px;
}

#notifications .message__item:nth-last-child(n + 5){
  display: none;
}
.notifications .message__item:hover{
  background-color: #e8eaec;
  cursor: pointer;
}
.notification__image{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22ca80;
}
.notification__image .fas{
  color: #ffffff;
}
.message__image img{
  width: 40px;
  height: 40px;
}

.readMore{
  border-top: 1px solid #edf2f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  color: #6c757d;
  font-weight: 500;
}
.readMore:hover{
  color: #05080c;
  cursor: pointer;
}

@media (min-width: 768px) {
  #notifications {
    width: 320px
  }
}