.breadcrumb{
  margin-bottom: 35px;
  height: 46px;
  width: 100%;
}
.breadcrumb__list{
  list-style-type: none;
  display: flex;
}
.breadcrumb__item:not(:last-child)::after{
  content: "/";
  padding-left: 8px;
  color: #ced4da;
  font-size: 11px;
}
.breadcrumb__item, .breadcrumb__item a{
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #9eabc0; 
}
.breadcrumb__list{
  line-height: 1.5;
}
.breadcrumb__item + .breadcrumb__item{
  padding-left: 8px;
}