.card{
  padding: 25px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 0 solid #e9ecef;
  border-radius: .25rem;
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
}
.card:first-of-type{
  margin-top: 15px;
}

.card__title{
  color: #212529;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 2rem;
}

.info__box{
  margin: 5px 0 25px;
}
.info__title{
  margin-bottom: 5px;
  font-weight: 700;
}

